body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('https://res-3.cloudinary.com/jnto/image/upload/w_2064,h_1300,c_fill,f_auto,fl_lossy,q_auto/v1518091145/kanagawa/Kanagawa_29503683');
}

#container {
    height: 715px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

#apr {
    background: #1F030C;
    color: white;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#message{
    margin-left: 60px;
}    

p {
    padding-left: 30px;
}

form input[type="text"] {
    width: 90px;
}

input {
    padding-left: 20px;
}

#value_tot {
    font-size: 14px;
    /*color: #2980b9;*/
    color: rgb(255, 0, 242);
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 30px;
}

#value_tot:focus {
    background: #fff;
    border: 3px solid #fa4e57;
    outline: none;
}

#hm_people {
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 50px;
    color: red;
    background-color: #f7f7f7;
    font-size: 14px;
    margin-left: 55px;
}

#RatingServ {
    padding: 13px 13px 20px 20px;
    margin-left: 20px;
    font-size: 25px;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #AD133A;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
}

button:hover {
    background: #4c2827;
    border-bottom-color: #111;
}

button:active {
    position: relative;
    top: 1px;
}

#alert{
    font-size: 17px;
    color: #fa4e57;
}

#price_FE {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

#price_FE::before {
    content: "Tip for people";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#price_FE sup {
    font-size: 20px;
    top: -18px;
}

#price_FE small {
    font-size: 20px;
    font-weight: bold;
    display: block;
}