body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(to left, #b91cf7, #1F1C18);
    background: linear-gradient(to left, #07000c, #9400cf);
}

#container {
    height: 715px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

h1 {
    background: #1F030C;
    color: white;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p {
    padding-left: 20px;
}

form input[type="text"] {
    width: 90px;
}

input {
    padding-left: 20px;
}

#preço_tot {
    font-size: 14px;
    /*color: #2980b9;*/
    color: rgb(255, 0, 242);
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;
}

#preço_tot:focus {
    background: #fff;
    border: 3px solid #fa4e57;
    outline: none;
}

#pessoas_tot {
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    color: red;
    background-color: #f7f7f7;
    font-size: 14px;
}

#RatingServ {
    padding: 13px 13px 20px 20px;
    margin-left: 20px;
    font-size: 25px;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #AD133A;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
}

button:hover {
    background: #4c2827;
    border-bottom-color: #111;
}

button:active {
    position: relative;
    top: 1px;
}

#alert{
    font-size: 17px;
    color: #fa4e57;
}

#pag_p_pessoa {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

#pag_p_pessoa::before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#pag_p_pessoa sup {
    font-size: 20px;
    top: -18px;
}

#pag_p_pessoa small {
    font-size: 20px;
    font-weight: bold;
    display: block;
}